In [1]:
import pandas as pd

df = pd.read_csv('steel_date.csv')

In [2]:
df.head()

,Unnamed: 0,PLATE_NO,ROLLING_DATE,SCALE,SPEC,STEEL_KIND,PT_THK,PT_WDTH,PT_LTH,PT_WGT,...,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,FUR_EXTEMP,ROLLING_TEMP_T5,HSB,ROLLING_DESCALING,WORK_GR
0,0,PB562774,2008-08-01:00:00:15,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,...,1144,116,1133,59,282,1133,934,적용,8,2조
1,1,PB562775,2008-08-01:00:00:16,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,...,1144,122,1135,53,283,1135,937,적용,8,2조
2,2,PB562776,2008-08-01:00:00:59,양품,NV-E36-TM,T8,33.27,3619,19181,18130,...,1129,116,1121,55,282,1121,889,적용,8,3조
3,3,PB562777,2008-08-01:00:01:24,양품,NV-E36-TM,T8,33.27,3619,19181,18130,...,1152,125,1127,68,316,1127,885,적용,8,3조
4,4,PB562778,2008-08-01:00:01:44,양품,BV-EH36-TM,T8,38.33,3098,13334,12430,...,1140,134,1128,48,314,1128,873,적용,8,1조

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         720 non-null    int64
 1   PLATE_NO           720 non-null    object
 2   ROLLING_DATE       720 non-null    object
 3   SCALE              720 non-null    object
 4   SPEC               720 non-null    object
 5   STEEL_KIND         720 non-null    object
 6   PT_THK             720 non-null    float64
 7   PT_WDTH            720 non-null    int64
 8   PT_LTH             720 non-null    int64
 9   PT_WGT             720 non-null    int64
 10  FUR_NO             720 non-null    object
 11  FUR_NO_ROW         720 non-null    int64
 12  FUR_HZ_TEMP        720 non-null    int64
 13  FUR_HZ_TIME        720 non-null    int64
 14  FUR_SZ_TEMP        720 non-null    int64
 15  FUR_SZ_TIME        720 non-null    int64
 16  FUR_TIME           720 non-null    int64
 17  FUR_EXTEMP         720 non-null    int64
 18  ROLLING_TEMP_T5    720 non-null    int64
 19  HSB                720 non-null    object
 20  ROLLING_DESCALING  720 non-null    int64
 21  WORK_GR            720 non-null    object
dtypes: float64(1), int64(13), object(8)
memory usage: 123.9+ KB